:root {
  --shadowRed: hsl(0, 78%, 62%);
  --shadowCyan: hsl(180, 62%, 55%);
  --shadowOrange: hsl(34, 97%, 64%);
  --shadowBlue: hsl(212, 86%, 64%);
  --titleColor: hsl(234, 12%, 34%);
  --textColor: hsl(229, 6%, 66%);
  --shadow: 3px 3px 12px lightgrey;
}

body {
  margin: 0;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  margin: 0;
}

/* TITLE SECTION */
.title {
  margin: 5rem auto 5rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title1 {
  font-weight: 200;
  color: var(--titleColor);
  margin: auto;
}

.title2 {
  font-weight: 600;
  color: var(--titleColor);
  margin: 1rem auto;
}

.desc {
  width: 30%;
  margin: 0 auto;
  color: var(--textColor);
  margin: auto;
}

/* CARD SECTION */
.grid-wrapper {
  margin: 2rem auto 7rem auto;
  width: 80%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 40px;
  grid-template-areas:
    "card1 card2 card4"
    "card1 card3 card4";
}

.card {
  background-color: #fff;
  text-align: left;
  width: 350px;
  height: 210px;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.card1 {
  border-top: 5px solid var(--shadowCyan);
  grid-area: card1;
}

.card2 {
  border-top: 5px solid var(--shadowRed);
  grid-area: card2;
}

.card3 {
  border-top: 5px solid var(--shadowOrange);
  grid-area: card3;
}

.card4 {
  border-top: 5px solid var(--shadowBlue);
  grid-area: card4;
}

.card-title {
  color: var(--titleColor);
  margin-bottom: 10px;
}

.card-desc {
  color: var(--textColor);
  width: 95%;
  margin: 0;
}

.img-container {
  display: flex;
  justify-content: flex-end;
  margin: 4rem 0 1.2rem 0;
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1028px) {

  h1 {
    font-size: 2rem;
  }

  .desc {
    width: 70%;
  }

  .grid-wrapper{
    display: flex;
    flex-direction: column;
  }

}
